$screen-sm-min: 600px;
$screen-xs-max: $screen-sm-min - 1px;
$screen-md-min: 960px;
$screen-sm-max: $screen-md-min - 1px;
$screen-lg-min: 1264px;
$screen-md-max: $screen-lg-min - 1px;
$screen-xl-min: 1904px;
$screen-lg-max: $screen-xl-min - 1px;
